<section class="upload" *ngIf="!videoxi.length">
    <ul *ngIf="filesInTransition.length">
        <li *ngFor="let file of filesInTransition">{{file.name}}   
            <progress value="{{file.progress}}" max="100"></progress>
        </li>
    </ul>
    <div class="my-drop-zone" ngxFile2Drop [uploader]="uploader">
        <p *ngIf="!filesInTransition.length">{{ 'videoxi.guide' | translate }}</p>
        <input ngxFile2Select type="file" multiple [uploader]="uploader"/>
    </div>
</section>
<section class="files" *ngFor="let video of videoxi">
    <header><h1>Video id: {{video.id}}</h1></header>
    <section class="upload">
        <ul *ngIf="filesInTransition.length">
            <li *ngFor="let file of filesInTransition">{{file.name}} - 
                <progress value="{{file.progress}}" max="100"></progress>
            </li>
        </ul>
        <div class="my-drop-zone" ngxFile2Drop [uploader]="uploader2">
            <p *ngIf="!filesInTransition.length">{{ 'videoxi.guide' | translate }}</p>
            <input ngxFile2Select type="file" multiple [uploader]="uploader2"/>
        </div>
    </section>
    <article *ngFor="let file of video.files; let i = index;">
        <header>
            <button *ngIf="i > 0" mat-icon-button class="example-icon" aria-label="Example icon-button with arrow_back_ios icon " (click)="moveBack($event, video, i)">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button *ngIf="i < (video.files.length-1)" mat-icon-button class="example-icon" aria-label="Example icon-button with arrow_forward_ios icon " (click)="moveForward($event, video, i)">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </header>
        <div *ngIf="file.file.type.indexOf('image') !== -1">
            <img src="{{file.name}}" class="contentImage" crossorigin='anonymous' width="300" id="{{file.id}}"  />
            <label>Info text:</label>
            <input type="text" (change)="changeImageText($event, file)" placeholder="eg. Live at Oslo" />
            <label>Title:</label>
            <input type="text" (change)="changeImageTitle($event, file)" placeholder="eg. Song name" />
            <label>Subtitle:</label>
            <input type="text" (change)="changeImageSubtitle($event, file)" placeholder="eg. copyright © Your name" />
        </div>
        <div *ngIf="file.file.type.indexOf('audio') !== -1">
            <audio controls  crossorigin='anonymous'>
                <source crossorigin='anonymous' src="{{file.name}}" type="audio/mpeg">
            </audio>
            <button mat-button (click)="addSound(file)" *ngIf="!file.sound">
                Lisää Efectejä
            </button>
            <button mat-button *ngIf="file.sound" (click)="getPizzicatoContext()">
                testaa
            </button>
            <button mat-button *ngIf="file.sound" (click)="playSound(file)">
                Play
            </button>
            <div class="playSound"></div>
            <section class="audioEffects" *ngIf="file.sound">
                <mat-checkbox class="example-margin" (change)="addDelay(file.sound)">Delay</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addDistortion(file.sound)">Distortion</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addQuadrafuzz(file.sound)">Quadrafuzz</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addFlanger(file.sound)">Flanger</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addCompressor(file.sound)">Compressor</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addLowPassFilter(file.sound)">LowPassFilter</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addHighPassFilter(file.sound)">HighPassFilter</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addStereoPanner(file.sound)">StereoPanner</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addReverb(file.sound)">Reverb</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addRingModulator(file.sound)">RingModulator</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addTremolo(file.sound)">Tremolo</mat-checkbox>
            </section>
            <section class="waveform">
                <div id="waveform"></div>
            </section>
        </div>
        <div *ngIf="file.file.type.indexOf('video') !== -1">
            <video width="320" height="240" id="{{file.id}}" controls>
                <source src="{{file.name}}" type="video/mp4">
            </video>
            <label>Info text:</label>
            <input type="text" (change)="changeImageText($event, file)" placeholder="eg. Live at Oslo" />
            <label>Title:</label>
            <input type="text" (change)="changeImageTitle($event, file)" placeholder="eg. Song name" />
            <label>Subtitle:</label>
            <input type="text" (change)="changeImageSubtitle($event, file)" placeholder="eg. copyright © Your name" />
            <label>Aloita:</label>
            <input type="number" (change)="changeVideoStart($event, file)" placeholder="eg. 0" />
            <label>Lopetus:</label>
            <input type="number" (change)="changeVideoEnd($event, file)" placeholder="eg. 0" value="{{file.duration}}" />
        </div>
    </article>
    <footer>
        <h2>Genre:</h2>
        <input type="text" (change)="changeGenre($event)" placeholder="eg. Rock" />
        <h2>Yhteystiedot:</h2>
        <input type="email" (change)="updateContacts($event, video)" placeholder="Lisää sähköpostiosoiteesi."  />
        <div *ngIf="video.started">
            <mat-icon *ngIf="!video.ready">hourglass_top</mat-icon>
        </div>
        <p *ngIf="!foundMp3" class="alert">Lisää ääniraita videoon</p>
        <p *ngIf="!foundImage" class="alert">Lisää kuva videoon</p>
        
        <button *ngIf="!video.started" mat-button (click)="createNewVideo($event, video)">
            Lähetä
        </button>
    </footer>
</section>
<section *ngIf="videoxiVideos.length">
    <article *ngFor="let file of videoxiVideos">
        <video width="320" height="240" controls>
            <source src="{{file.path}}" type="video/mp4">
        </video>
    </article>
</section>