<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon"  routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <a class="title" routerLink="/" routerLinkActive="active">Purkkiin.fi</a>
  <span class="example-spacer"></span>
  <div class="floatright">
    <button mat-button (click)="login()">
      Kirjaudu sisään
    </button>
    <button mat-button>
      Työnalla: {{jobsCurrent}}
    </button>
    <button mat-button>
      Työjono: {{jobsCount}}
    </button>
    <button mat-button (click)="update()">
      Päivitä
    </button>
  </div>
  <div class="login" *ngIf="showLogin">
    <header><h1>Kirjaudu sisään</h1></header>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Käyttäjätunnus</mat-label>
      <input #username matInput type="text">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Salasana</mat-label>
      <input #password matInput type="password">
    </mat-form-field>
    <button mat-button (click)="sendLogin(username, password)">
      Kirjaudu sisään
    </button>
  </div>
</mat-toolbar>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>