<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon"  routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <a class="title" routerLink="/" routerLinkActive="active">Purkkiin.fi</a>
  <span class="example-spacer"></span>
  <h3>Translate:</h3>
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
  <button mat-button routerLink="/statistiikka" routerLinkActive="active">
    {{ 'app.Statistiikka' | translate }}
  </button>
  <div class="floatright">
    <button mat-button (click)="login()">
      {{ 'app.login' | translate }}
    </button>
    <button mat-button>
      {{ 'app.jobs' | translate }}: {{jobsCurrent}}
    </button>
    <button mat-button>
      {{ 'app.jobsComing' | translate }}: {{jobsCount}}
    </button>
    <button mat-button (click)="update()">
      {{ 'app.update' | translate }}
    </button>
  </div>
  <div class="login" *ngIf="showLogin">
    <header><h1>{{ 'app.login' | translate }}</h1></header>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>{{ 'app.username' | translate }}</mat-label>
      <input #username matInput type="text">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>{{ 'app.password' | translate }}</mat-label>
      <input #password matInput type="password">
    </mat-form-field>
    <button mat-button (click)="sendLogin(username, password)">
      {{ 'app.login' | translate }}
    </button>
  </div>
</mat-toolbar>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>